GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
PINECONE_API_KEY=
PINECONE_INDEX_NAME=astrorag-384
PINECONE_HOST=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=rag
ANTHROPIC_API_KEY=
